:root {
  --font-normal: 1.4rem;
  --black-transparent: rgba(0, 0, 0, 0.392);
  --smart-green: rgb(101 199 107);
  --transition: all 0.3s linear;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.nav__center {
  display: flex;
  justify-content: space-between;
}
.link-container {
  display: none;
}
.nav__mobile {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: .8rem;
}
.button__menu-mobile{
  background-color: white;
  border-style: none;
}
.links {
 display: flex;
 height: auto;
}
.links > li {
  display: block;
  list-style: none;
  padding: 1.5rem;
}
.links >li > a {
  color: black;
  text-decoration: none;
}
.containerBanner {
  background-image: url('./assets/banner.jpeg');
  min-width: 100%;
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
}
.title {
  margin-bottom: 1rem;
}
.description {
  margin-bottom: 1rem;
}
.actionBtn {
  font-size: 14px;
  width: auto;
  height: 35px;
  padding: 0 8px;
  background-color: transparent;
  border-style: none;
  border: 2px solid black;
  border-radius: 8px;
}
.actionBtn:hover {
  background-color: var(--black-transparent);
  color: white;
}
.section {
  width: 100%;
  height: 100vh;
  text-align: center;
  box-shadow: 2px 0 3px black;
}
.section span{
  color: var(--smart-green);
}
@media screen and (min-width:600px) {

  .button__menu-mobile {
    display: none;
   }
   .link-container {
    display: block;
  }
   
}